:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #f2e753;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.link {
  color: white;
}
.basket {
  position: fixed;
  top: 10px;
  width: 15vw;
  right: 15px;
}
.basket img {
  width: 100%;
}
.clothes-container {
  display: flex;
  height: 100vh;
  align-items: center;
  width: 100vw;
  justify-content: center;
  gap: 20px;
}
.cloth-item {
  width: 15vw;
}
.cloth-item img {
  width: 100%;
}
.price {
  font-weight: bold;
  text-decoration: underline;
}

/* constructor */

.wrapper {
  display: flex;
  height: 100vh;
}
.form-conctructor {
  width: 34vw;
  padding: 10px;
}
.result-container {
  width: 66vw;
  background-size: 2vw;
  /* background-color: rgb(73, 73, 73); */
  background-image: url("assets/back-blue2.png");
  position: relative;
}
.main-item {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

label {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  overflow: hidden;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  outline: none;
  cursor: inherit;
}

.circle {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 90px;
  height: 90px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  cursor: inherit;
}
.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-item input {
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
}
.form-item input:focus {
  border-radius: 15px;
}
.form-item p {
  width: 50%;
}
/* -webkit */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* firefox */
input[type="color"]::-moz-focus-inner {
  border: none;
  padding: 0;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  height: 140px;
}
img {
  user-select: none;
}

.radio-container {
  display: flex;
  padding: 10px;
}
.form-item {
  border-bottom: 3px solid gray;
}
.color-changing-img {
  width: 30vw;
}

/* Баскет */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.back-to-menu {
  position: absolute;
  top: 10px;
  left: 20px;
}
.basket-container {
  display: flex;
  width: 80vw;
  border: 1px solid white;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 10px auto;
  border-radius: 30px;
}
@keyframes fly-element {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(-500px);
  }
}

.fly-basket-element {
  animation: fly-element 20s linear infinite; /* Применяем анимацию сдвига с заданным временем и бесконечным повторением */
}
